/***** home *****/
#toTopBtn {
  display: none;
  position: fixed;
  bottom: 95px;
  right: 32px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #36373a;
  color: white;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 4px;
}
h4{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
a > h4:hover{
  color: #ffe026;
}
h3{
  margin-top: 10px !important;
}
div.product-image-box img{
  padding-top: 15px;
}
/** Ar 1lg-4sm **/
div.row.grid-blog-left-item p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
div.row.grid-blog-left-item > div > img{
  width: 100%;
}
section.grid-bigleft-section-container > div:nth-child(2) > div:nth-child(2) > div > div > div.row > div > div.row{
  margin: 0 0;
}
@media (max-width:767px) {
  section.grid-bigleft-section-container div.row.grid-big-left-item div.col-xs-8.col-sm-9.col-md-8.col-lg-8,
  section.grid-bigleft-section-container div.row.grid-big-left-item > div > div > div {
    width: 100% !important;
  }
}
@media (min-width:767px) {
  section.grid-bigleft-section-container div.row.grid-big-left-item h4 {
    padding-top: 0 !important;
  }
}
/** Ar 4 col **/
div.row.grid-4col-items p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
div.row.grid-4col-items footer{
  text-align: right;
}
div.row.grid-4col-items footer p{
  display: none !important;
}
/** Ar 3 col **/
div.row.grid-3col-items p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
div.row.grid-3col-items footer{
  text-align: right;
}
div.row.grid-3col-items footer > div:first-child > p{
  text-align: left;
}
@media (min-width:767px) {
  div.row.grid-3col-items footer > div:first-child{
    padding-right: 0;
  }
}
/** Ar 2 col **/
div.row.grid-2col-items p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
div.row.grid-2col-items footer > div:first-child{
  width: 66.666666% !important;
}
div.row.grid-2col-items footer > div:nth-child(2){
  text-align: right;
  padding: 0 15px 0 0;
}
div.row.grid-2col-items footer > div:nth-child(3){
  text-align: right;
}
/* ar slide */
section.sh_corporate.section.sys-views.su-element-box.content-services-slider-container.su-carousel-slider > div > div.row > div:nth-child(2){
  padding: 0 30px;
}
section.sh_corporate.section.sys-views.su-element-box.content-services-slider-container.su-carousel-slider img{
  width: 100%;
}

/** product **/
div.row.product-addtocart-box.addtocart > div.form-group > a > button.btn.btn-theme-all.btn-org.btn-addtocart.fb {
  margin-top: 10px !important;
}
/* pro 2 col */
@media(max-width:767px){
  section.sh_corporate.section.sys-views.sys-products.su-element-box.content-frontpage-product ul.lists.row.column-2 > li {
    padding: 0 15px;
  }
}
/* pro 4 col */
div.product-mdate-box{
  width: 60% !important;
  padding: 0;
  display: inline-block;
  float: left;
}
div.product-viewed-box{
  width: 40% !important;
  padding: 0;
  display: inline-block;
  float: right;
  clear: none;
}
div.product-viewed-box{
  text-align: right;
}
/* pro slide */
section.sh_corporate.section.sys-products.su-element-box.content-features-product.su-owl-carousel-slider div.item{
  margin: 3px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
/** even **/
/* even 1-4 col */
div.row.grid-big-left-item p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@media (min-width:768px) {
  div.row.grid-big-left-item > div > div > div:first-child{
    padding: 0;
    overflow: hidden;
  }
}
/* clip 2 col */
div.grid-2col-left-item img{
  width: 100%;
}

/*********** header menu ***********/
@media (max-width:991px) {
  #header #shopping-cart a {
    margin-top: 5px !important;
  }
}
.mobile-text-menu {
  padding-top: 5px;
  font-weight: 600;
}
.mobile-text-icon {
  padding-left: 5px;
}

/*********** header menu ***********/
@media (max-width: 767px){
  div#topbar{
    height: 50px !important;
  }
  #topbar .system-button ul {
    height: 50px;
    margin-top: -4px;
  }
  div.topbar-dropdown{
    padding-top: 5px;
  }
  div.system-button > ul.nav.nav-pills > li > a > span{
    display: block !important;
    font-size: 12px !important;
  }
  div.system-button > ul.nav.nav-pills > li > a{
    text-align: center;
    height: 50px !important;
    line-height: 1px !important;
  }
  #topbar .system-button ul li:not(:last-child):after {
    height: 30px !important;
    top: 14px !important;
  }
}

/***** side menu *****/
div.sh_corporate.widgets-menu_vetical.widget.sys-menus.vertical.su-element-box ul.nav.nav-pills.nav-stacked > li{
  padding: 5px 15px;
}
div.sh_corporate.widgets-menu_vetical.widget.sys-menus.vertical.su-element-box ul.nav.nav-pills.nav-stacked > li > a{
  padding: 5px 25px 5px 15px;
}
@media (max-width: 991px){
  #side-bar-hidden-mobile {
    bottom: 7px !important;
    background-color: #f1f1f1;
    top: unset !important;
  }
}
div.sh_corporate.widgets-menu_vetical.widget.sys-menus.vertical.su-element-box {
  box-shadow: none;
  border: 0;
}
div.sidebar.col-md-3.su-zone.su-side-container.su-side-left ul > li:hover{
  background-color: #f4f4f4;
    border-bottom-color: transparent;
}
div.sidebar.col-md-3.su-zone.su-side-container.su-side-left h3{
  text-transform: uppercase;
    color: #7c7c7c;
}
div.sh_corporate.widgets-menu_vetical.widget.sys-menus.vertical.su-element-box  > div.top > h3::after{
  border-top: 4px solid #36373a !important;
  content: "";
  display: block !important;
  margin-top: 14px !important;
  width: 60px !important;
}

/* social-share */
.sys-social a span:hover{
  transition: .3s ease;
}
.sys-social a span.facebook:hover {
    color: #0052ff;
}
.sys-social a span.twitter:hover {
    color: #0091ff;
}
.sys-social a span.pinterest:hover {
    color: #ff001c;
}
.sys-social a span.google-plus:hover {
    color: #ff1500;
}
.sys-social a span.line-chat:hover {
    color: #00ff00;
}

/* tag */
span.badge.badge-info:hover {
    background-color: #36373a;
    transition: .3s ease;
}

/*********** body ***********/
h4{
  padding-top: 10px;
}
.form-group {
  margin-bottom: 0 !important;
}
button {
  display: -webkit-box;
  overflow: hidden !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
button.btn.btn-theme-all.btn-org.btn-1.btn-member-register{
  background-color: #fff;
  border: 1px solid #ffe026;
  border-radius: 50px;
  color: #ffe026;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  padding: 8px 14px !important;
  line-height: 18px;
  margin-bottom: 15px;
  width: 45%;
  margin-right: 0 !important;
}
button.btn.btn-theme-all.btn-org.btn-1.btn-member-register:hover{
  color: white !important;
}
.sys-member-login .body .btn-member-register {
  text-decoration: none !important;
}
button.btn.btn-theme-all.btn-org.btn-member-signin{
  width: 100%;
}
button.btn.btn-theme-all.btn-org.btn-1.btn-member-register.btn-member-forget{
  float: right;
}
select.form-control{
  padding: 0 5px !important;
}
@media (min-width: 767px)  {
  form#frmrecovery > div.form-group > div.row > div.col-xs-6.col-sm-6.col-md-6.col-lg-6.media > img#showCaptcha{
    margin-top: 20px;
  }
}
button.btn.btn-theme-all.btn-org.btn-member-recoverypwd{
  margin-top: 25px;
}
div.body.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.title {
  padding-top: 15px;
}
.comment {
  margin-top: 0px !important;
}
form#frmCommment > div.col-xs-6.col-sm-2.col-md-2.col-lg-2.form-group > img#showCaptcha {
  max-width: 130px;
}
form#frmCommment > div.col-xs-12.col-sm-2.col-md-2.col-lg-2.form-group > button#txtCommentSubmit {
  width: 100%;
}
div.product-viewed-box.viewed.secondary-text.col-xs-4.col-sm-4.col-md-4.col-lg-4.text-right-xs.text-right-sm.text-right-md.text-right-lg  > p {
  text-align: center;
  float: right;
}
div.product-viewed-box.viewed.secondary-text.col-xs-4.col-sm-4.col-md-4.col-lg-4.text-right-xs.text-right-sm.text-right-md.text-right-lg,
div.product-mdate-box.mdate.secondary-text.col-xs-8.col-sm-8.col-md-8.col-lg-8{
  padding: 0;
}
.col-xs-8 {
  width: 66.66666667% !important;
}
@media (max-width: 767px){
  .col-xs-8{
    width: 66.66666667% !important;
  }
}
p{
  margin-bottom: 10px !important;
}
div.row.product-addtocart-box.addtocart > div.form-group{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
div.row.product-addtocart-box.addtocart > div.form-group > a > button.btn.btn-theme-all.btn-org.btn-addtocart {
  margin-bottom: 0 !important;
}
div.price-box.row > div > div.form-group > label.control-label.secondary-text{
  padding-left: 8px;
}
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.comment {
  padding: 0;
}
div.social-share.col-xs-12.col-sm-12.col-md-12.col-lg-12 > div.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding: 0;
}
div.addtocart.addtocart-btn.col-xs-12.col-sm-6.col-md-6.col-lg-6,
div.addtocart.facebook-message-btn.col-xs-12.col-sm-6.col-md-6.col-lg-6{
  padding-bottom: 0;
}
div.price.disable-text.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding-top: 10px;
}
.input-group-addon:first-child {
  border-right: 0;
  width: 34.4px;
}
.sys-webboard .body .webboard-body ul li {
  list-style: none;
  padding-top: 10px;
  padding-left: 10px;
}
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.webboard-top{
  padding-top: 25px;
}
.sys-webboard .body .webboard-body ul {
  padding-bottom: 10px;
}
form#frmtopic div.form-group > label,
form#frmnewreply div.form-group > label,
form#frmmembersregister div.form-group > label{
  padding-left: 20px;
}
@media (max-width: 767px) {
  form#frmtopic div.form-group:last-child,
  form#frmnewreply div.form-group:last-child,
  form#frmmembersregister div.form-group:last-child{
    text-align: center;
  }
}

form#frmConfirmPayment > div.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12 > div.row > div.col-xs-12.col-sm-4.col-md-4.col-lg-4 > div.form-group{
  margin-bottom: 2px;
}
div.checkbox{
  padding-left: 0;
  margin: 1px 0;
}
div.checkbox > label {
  margin-left: 0;
}
button.btn.btn-theme-all.btn-org.btn-xs.btn-2{
  margin-bottom: 0;
}
div.body > div#confirmpay{
  padding-top: 10px;
}
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.confirm-payment-button{
  padding-top:20px;
}
button.btn.btn-theme-all.btn-2.btn-member-register {
  background-color: #fff;
  border: 1px solid #ffe026;
  border-radius: 50px;
  color: #ffe026;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  padding: 8px 14px;
  line-height: 18px;
  margin-bottom: 15px;
  width: 100%;
}
button.btn.btn-theme-all.btn-2.btn-member-register:hover {
  background-color: #ffe026;
  color: white;
}
form.member_login > div.checkbox{
  padding: 5px 0;
}
form.member_login > div.checkbox > label{
  margin-left: 5px;
  font-size: 13px;
}
div.detail.col-xs-12.col-sm-12.col-md-12.col-lg-12,
div.image-maps.col-xs-12.col-sm-12.col-md-12.col-lg-12,
div.google-maps.col-xs-12.col-sm-12.col-md-12.col-lg-12,
div.contact-form.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding-top: 15px;
}
label.col-sm-3{
  padding: 0;
}
form#frmCommment > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.form-group,
form#frmCommment > div.col-xs-12.col-sm-3.col-md-3.col-lg-3.form-group,
form#frmCommment > div.col-xs-6.col-sm-2.col-md-2.col-lg-2.form-group {
  padding-bottom: 15px;
}
div.sys-comments > div.top.row{
  margin: 0;
}
div.sys-comments h1{
  padding-left: 15px !important;
}
div.sys-comments > div.top.row > div.body-top.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding: 0;
}
div.sh_corporate.widgets-menu_vetical.widget.sys-menus.vertical.su-element-box {
  padding-left: 0;
  padding-right: 0;
}
form#frmnewreply > div.form-group,
form#frmtopic > div.form-group {
  padding-bottom: 15px;
}
form#frmtopic > h2,
form#frmnewreply > h2 {
  padding-top: 15px;
}
input#txtCouponCode{
  margin-left:10px;
}
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.your-product-table > div.table > table.table.table-bordered > thead >tr > th {
  text-align: center;
}
div.content.sys-member-order-detail.su-content-box.su-element-box   > div.body.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding-top: 15px;
}
tr.cart-product-detail > td > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.secondary-text{
  padding: 0 0;
  text-align: center;
}
tr.cart-product-detail > td{
  /* display: table-cell; */
  vertical-align: middle !important;
}
tr.cart-product-detail > td > div.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.secondary-text{
  padding: 0 0;
  text-align: center;
}
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.member_order_list > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.secondary-text{
  padding-bottom: 0 !important;
}
.member_order_list {
  text-align: center;
}
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.member_order_list > div > div{
  padding-left: 0;
  padding-right: 0;
}
div.content.sys-member-order-list.su-content-box.su-element-box  > div.body.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding-top: 15px;
}
div.content.sys-member-order-list.su-content-box.su-element-box  > div.body.row {
/*  margin-top: 25px;*/
}
div.content.sys-contacts.su-content-box.su-element-box > div.body.row > div.row.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
/*  margin-top: 40px;*/
}
.table>thead>tr>th{
  vertical-align: middle !important;
}
tfoot > tr > td > h2{
  margin-bottom: 0 !important;
}
div.row.calendar.fc.fc-ltr.fc-unthemed > div > div > button > span {
  font-family: "Courier New", Courier, monospace !important;
}
@media (min-width : 768px) {
  div.fc-day-grid-container.fc-scroller{
    height: 150px !important;
  }
  div.addtocart.facebook-message-btn.col-xs-12.col-sm-6.col-md-6.col-lg-6 > button.btn.btn-info.btn-facebook{
    float: right;;
  }
}
#mainMenu > ul > li > a {
  font-size: 18px !important;
}
.nav-pills>li>a {
  font-size: 16px;
}
ul.main-list a {
  font-size: 16px !important;
}
.widget-tags .tags a {
  font-size: 16px !important;
}
button.btn.btn-theme-all.btn-org.btn-addtocart,
button.btn.btn-info.btn-facebook{
  width: 100%;
}
div.detail-container.column-left.col-xs-12.col-sm-12.col-md-12.col-lg-12 > div > div > div > select,
div.row.product-size-box.size > div.form-group > select{
  text-align: center;
  align-items: center;
  text-align-last: center;
  padding-right: -10px !important;
  padding-left: 15px !important;
}
table#shipment_table{
  text-align: center;
}
div.your-product-table table > thead > tr,
div.content.sys-shipping_report.su-content-box.su-element-box table > thead > tr {
  background-color: #e8e8e8;
}
ul.lists.media-list{
  padding-top: 15px;
}
ul.lists.media-list > li > a > text {
  line-height: 1.428571;
}
div.media-body > div > div.col-xs-12.col-sm-3.col-md-3.col-lg-3 > div.row{
  margin: 0 0;
}
.sys-download .body .detail {
  padding-bottom: 0 !important;
}
tr.cart-product-detail > td {
  text-align: center;
}
tr.cart-product-detail > td > div.row {
  text-align: left;
}
.widget-newsletter small {
  font-size: 16px !important;
}
div.sidebar.col-md-3.su-zone.su-side-container.su-side-left > div > div > h3,
div.sidebar.col-md-3.su-zone.su-side-container.su-side-left > div > h4{
  border-bottom: none !important;
  font-size: 26px !important;
}
div.content.sys-member-order-detail.su-content-box.su-element-box > div.body.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12 > h2 > small{
  margin-top: 13px;
}
@media (max-width:383px) {
  div.content.sys-member-order-detail.su-content-box.su-element-box > div.body.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12 > h2 > small{
    float: left;
  }
}
.sys-product h2 {
  color: black;
}
tfoot > tr > td:last-child {
  text-align: center !important;
}
label, div.col-xs-12.col-sm-12.col-md-7.col-lg-8.content_payment > div.panel-heading, form#paymethod {
  font-size: 15px !important;
}
button.btn.btn-theme-all.btn-org.btn-addtocart{
  padding-left: 0px;
  padding-right: 0px;
}
div.widget.clearfix.widget-archive.custom-vertical-nav > ul > li{
  position: relative;
  display: block;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
div.widget.clearfix.widget-archive.custom-vertical-nav > ul > li:hover{
  background-color: #eee;
}
.sidebar .widget {
  border-bottom: none !important;
}
.nav-stacked>li+li {
  margin-top: 0;
}
div.topic-list > ul > li > div.row{
  margin-left: -5px;
  margin-right: 0;
}
form#frmmembersregister {
  padding-left: 15px;
  padding-right: 15px;
}
.breadcrumb {
  padding-left: 0;
}
div.readmore > a:nth-child(2) > button{
  float: right;
}
div.readmore > a:first-child > button{
  float: left;
}
@media (max-width:992px) {
  ul.lists.row.column-3 li:nth-child(2n+1){
    /* clear: left; */
  }
}

/******* Register ********/
@media (max-width:76px) {
  form#frmmembersregister > div.form-group > label.col-sm-3.control-label{
    margin-left: 20px;
  }
  form#frmmembersregister > div.form-group > div.col-sm-offset-6.col-sm-12{
    text-align: center;
  }
  .form-horizontal .control-label {
    text-align: left !important;
  }
  form#frmmembersregister > div:nth-last-child(2) > div.col-sm-4{
    clear: left;
  }
}
/** register fb **/
div.v2.content.sys-member-register form#frmmembersregister button.btn-member-update{
  border-color: #ffe026;
}
div.seperator.m-t-5.m-b-10{
  color: #111;
}

/** login **/
.sys-member-login .body .btn-member-signin, .sys-member-login .body .btn-member-register, .sys-member-login .body .btn-member-register {
  margin-top: 10px !important;
}

/**** member update ****/
@media (max-width: 767px) {
  #frmupdatemember label{
    padding-left: 20px;
  }
  #frmupdatemember > div.form-group > div.col-sm-offset-6.col-sm-12{
    text-align: center;
  }
}
/**** member update fb ****/
div.v2.wrapper.members-detail > div:first-child{
/*  padding-top: 40px;*/
}
div.v2.wrapper.members-detail > div.fb--shipping{
  clear: both;
}

/**** password recovery ****/
#frmrecovery > div.form-group:last-child{
  text-align: center;
}
div.content.sys-member-recovery.su-content-box.su-element-box > div.body.row{
  padding-top: 40px;
}
@media(min-width:767px){
  #frmrecovery div.media{
    padding: 0;
  }
  #frmrecovery div.media > img#refreshCaptcha{
    margin-top: 20px;
  }
}

/** login fb **/
form#frmDataM2Normal div.form-group,
div.fb--login.login div.form-group{
  padding-bottom: 15px;
}
form#frmDataM2Normal button,
form#frmData button,
div.bg-area.fb--member > a:last-child > button{
  background-color: #ffe026;
  color: white;
  margin-top: 0;
  height: 43px;
}
form#frmDataM2Normal button:hover,
form#frmData button:hover,
div.bg-area.fb--member > a:last-child > button:hover{
  background-color: white !important;
  color: #ffe026;
  border: 2px solid #ffe026;
}
form#frmDataM2Normal span.input-group-addon,
div.v2.content.sys-member-register.su-content-box.su-element-box span.input-group-addon{
  width: 40px;
}
form#frmDataM2Normal div.checkbox {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
form#frmDataM2Normal div.checkbox > label > input{
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}
div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister textarea{
  height: 83px !important;
}
div.v2.content.sys-member-register.su-content-box.su-element-box img#showCaptcha{
  max-width: 100px;
  margin-left: 15px;
}
div.v2.content.sys-member-register.su-content-box.su-element-box img#refreshCaptcha{
  margin-left: -15px;
}
div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister button{
  width: 50%;
  background-color: #ffe026;
  color: white;
  margin-top: 0;
  border-radius: 3px;
  margin-top: 10px;
  height: 43px;
}
div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister button:hover{
  background-color: white !important;
  color: #ffe026 !important;
  border: 2px solid #ffe026 !important;
}
@media (max-width:735px) {
  div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister button{
    width: 100%;
  }
  div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister div.col-md-6{
    padding-left: 0;
    padding-right: 0;
  }
}
div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister div.col-md-12{
  padding: 0;
}
div.v2.content.sys-member-register.su-content-box.su-element-box form#frmmembersregister div.col-md-12 > div.form-group{
  margin-left: 0;
}
form#frmData span{
  width: 40px !important;
}
form#frmData div.form-group{
  padding-bottom: 10px;
}
form#frmData div.input-group{
  width: 100%;
}
form#frmData textarea{
  height: 83px !important;
}
button.btn.btn.btn-org.btn-primary.default.btn-custom-color.btn-go-to-homepage{
  margin-bottom: 0 !important;
}

/* webpage */
div.content.sys-page.su-content-box.su-element-box > div.body.row{
  margin: 0;
}
div.content.sys-page.su-content-box.su-element-box > div.body.row div.social-share{
  clear: left;
}
div.content.sys-page.su-content-box.su-element-box > div.body.row div.social-share,
div.content.sys-page.su-content-box.su-element-box > div.body.row div.viewed{
  width: 50% !important;
}
div.content.sys-page.su-content-box.su-element-box > div.body.row div.viewed{
  clear: none;
}
div.content.sys-page.su-content-box.su-element-box div.sys-comments div.page-header > h1{
  padding-left: 0 !important;
}
div.content.sys-page.su-content-box.su-element-box > div.body.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.comment {
  padding: 0 15px !important;
}

/** cart **/
@media (max-width:767px) {
  div.your-product-table tr.cart-product-detail > td > div.row {
    text-align: center !important;
  }
  div.your-product-table tr.cart-product-detail > td > div.row > div:nth-child(2) > div > div:last-child {
    display: inline-flex;
  }
}

/** cart fb **/
button.button.btn-org.btn-shopping-cart{
  width: auto !important;
  float: right;
}
div.fb--cart div.table-responsive.fb--summary td{
  padding: 10px 10px !important;
}
div.fb--cart td.cart-thumbnail{
  display: -webkit-box;
}
div.fb--cart td.cart-thumbnail > div.cart-thumbnail-name > p {
  line-height: 1.5;
}
@media(max-width:767px) {
  div.fb--cart td.cart-quantity > div.quantity{
    width: 150px;
  }
}
div.fb--cart td.cart-product-name.coupon_block > input{
  display: inherit !important;
  float: none !important;
  width: 100% !important;
}

/**** download ****/
ul.lists.media-list > li.media {
  border-bottom: 1px solid #e7e7e7;
}
div.content.sys-download.su-content-box.su-element-box > div.body.row{
  margin-left: 0;
  margin-right: 0;
}
div.content.sys-download.su-content-box.su-element-box > div.body.row > div.mdate,
div.content.sys-download.su-content-box.su-element-box > div.body.row > div.social-share,
div.content.sys-download.su-content-box.su-element-box > div.body.row > div.viewed{
  padding-left: 0;
  padding-right: 0;
}

/** product **/
div.product-detail.col-xs-12.col-sm-12.col-md-12.col-lg-12 div.detail-container.column-left.col-xs-12.col-sm-12.col-md-12.col-lg-12 div.social-share{
  padding-bottom: 10px;
}
@media(max-width:767px){
  div.detail-container.column-left.col-xs-12.col-sm-12.col-md-12.col-lg-12 > div > div.addtocart.facebook-message-btn.col-xs-12.col-sm-6.col-md-6.col-lg-6{
    padding-top: 5px !important;
  }
}
div.sys-product.su-content-box.su-element-box div.product-detail.col-xs-12.col-sm-12.col-md-12.col-lg-12 div.detail-container.column-left.col-xs-12.col-sm-12.col-md-12.col-lg-12 div.product-mdate-box{
  padding-left: 15px;
}
div.sys-product.su-content-box.su-element-box div.product-detail.col-xs-12.col-sm-12.col-md-12.col-lg-12 div.detail-container.column-left.col-xs-12.col-sm-12.col-md-12.col-lg-12 div.product-viewed-box{
  padding-right: 15px;
}
div.sys-product.su-content-box.su-element-box div.product-detail.col-xs-12.col-sm-12.col-md-12.col-lg-12{
  padding: 0;
}
.sys-product h2:hover, h2:active {
  color: #009f84;
}
div.sys-product.su-content-box.su-element-box div.comments-form {
  padding: 0;
}

/** events **/
div.content.sys-events.su-content-box.su-element-box ul.lists.row.column-2 > li div.mdate.primary-text {
  width: 100% !important;
}

/** event **/
div.sys-event div.social-share,div.sys-event div.viewed{
  width: 50% !important;
}
div.sys-event div.viewed{
  clear: none;
}

/** webboard **/
div.webboard-body ,div.webboard-body div.col-xs-6.col-sm-4.col-md-4.col-lg-4.secondary-text {
  text-align: left !important;
}
li.head.hidden-xs{
  display: none !important;
}
div.webboard-body > div.topic-list > ul > li.list-item > div.row{
  border-bottom: solid 1px #CCC;
  padding-bottom: 15px;
}
@media(min-width:768px){
  li.head.hidden-xs{
    display: block !important;
  }
  div.webboard-body > div.topic-list > ul > li.list-item > div.row{
    border: none;
    padding-bottom: 0;
  }
  div.webboard-body > div.topic-list > ul > li.head.hidden-xs > div.row > div:nth-child(2) > div.row > div.col-xs-4.col-sm-4.col-md-4.col-lg-4.primary-text,
  div.webboard-body > div.topic-list > ul > li.list-item > div.row > div:nth-child(2) > div.row > div.col-xs-6.col-sm-4.col-md-4.col-lg-4.secondary-text {
    text-align: center !important;
  }
  div.webboard-body > div.topic-list > ul > li.list-item > div.row > div:nth-child(2) > div.row > div.col-xs-6.col-sm-4.col-md-4.col-lg-4.secondary-text:first-child{
    padding: 0;
  }
}

/* topic */
div.col-xs-12.col-sm-12.col-md-12.col-lg-12.webboard-top > div.block {
  padding-bottom: 0;
}
div.reply-list > ul > li.head.hidden-xs > div.row > div > div.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.primary-text {
  padding-top: 0 !important;
}
div.webboard-body > div.topic-list > ul > li > div.row{
  border-bottom: solid 1px #CCC;
  padding-bottom: 15px;
}
@media (min-width:768px) {
  form#frmnewreply > div.form-group > div.col-sm-offset-6.col-sm-12, form#frmtopic > div.form-group > div.col-sm-offset-6.col-sm-12 {
    margin-left: 10%;
    text-align: center;
  }
  form#frmnewreply h2, form#frmtopic h2{
    margin-left: 20%;
  }
  form#frmnewreply label, form#frmtopic label{
    text-indent: -10em;
    margin-top: 7px;
  }
  div.webboard-body > div.topic-list > ul > li.head.hidden-xs > div.row > div:nth-child(2) > div.row > div.col-xs-6.col-sm-4.col-md-4.col-lg-4.primary-text,
  div.webboard-body > div.topic-list > ul > li > div.row > div:nth-child(2) > div.row > div.col-xs-6.col-sm-4.col-md-4.col-lg-4.secondary-text {
    text-align: center !important;
    padding: 0;
  }
  div.webboard-body > div.topic-list > ul > li > div.row{
    border: none;
    padding-bottom: 0;
  }
}

/* add topic */
form#frmtopic div.form-group > label,
form#frmnewreply div.form-group > label{
  padding-left: 20px;
}
form#frmtopic div.form-group:last-child,
form#frmnewreply div.form-group:last-child{
  text-align: center;
}

/** cart **/
.sys-sale-checkout .address-shipment-box .order_address span.required {
  color: #444 !important;
}

/** payment **/
div.v1.content.sys-confirm-payment.su-content-box.su-element-box div#confirmpay > div.confirm-payment-box > div.row > div:first-child > div.row:first-child > div{
  padding: 0;
}
@media(max-width:767px){
  div.v1.content.sys-confirm-payment.su-content-box.su-element-box div#confirmpay > div.confirm-payment-box > div.row > div:nth-child(2){
    padding: 0;
  }
}
div.v1.content.sys-confirm-payment.su-content-box.su-element-box div#confirmpay > div.confirm-payment-box > div.row > div:first-child > div.row:nth-child(2) > div{
  padding: 0;
}
div.confirm-payment-button,.sys-member-order-detail .confirm-order-button a {
  text-align: center;
  float: none;
}

/** cart-product-detail **/
tr.cart-product-detail > td:nth-child(2) > div.row {
  margin: 0;
}

/** clip **/
@media (max-width:991px) {
  div.content.sys-clip.su-content-box.su-content-box.su-element-box div.mdate{
    text-align: left;
  }
}
@media (max-width:768px) {
  div.content.sys-clip.su-content-box.su-content-box.su-element-box div.social-share,
  div.content.sys-clip.su-content-box.su-content-box.su-element-box div.viewed{
    width: 50%;
  }
}
div.content.sys-clip.su-content-box.su-content-box.su-element-box div.viewed{
  clear: none;
}

/** gallery **/
@media (max-width:991px) {
  div.content.sys-gallery.su-content-box.su-content-box.su-element-box div.mdate{
    text-align: left;
  }
}
@media (max-width:768px) {
  div.content.sys-gallery.su-content-box.su-content-box.su-element-box div.social-share,
  div.content.sys-gallery.su-content-box.su-content-box.su-element-box div.viewed{
    width: 50%;
  }
}
div.content.sys-gallery.su-content-box.su-content-box.su-element-box div.viewed{
  clear: none;
}

/** download **/
@media (max-width:991px) {
  div.content.sys-download.su-content-box.su-content-box.su-element-box div.mdate{
    text-align: left;
  }
}
@media (max-width:768px) {
  div.content.sys-download.su-content-box.su-content-box.su-element-box div.social-share,
  div.content.sys-download.su-content-box.su-content-box.su-element-box div.viewed{
    width: 50%;
  }
}
div.content.sys-download.su-content-box.su-content-box.su-element-box div.viewed{
  clear: none;
}
div.content.sys-download.su-content-box.su-content-box.su-element-box div.sys-comments div.body.row {
  padding: 0 15px;
}

/** payment-detail **/
div.content.sys-payments_detail.su-content-box.su-element-box div.mdate {
  text-align: right;
}

/** comment **/
div.sys-comments > div.top.row,
div.sys-comments > div.top.row div.page-header{
  display: block;
}
form#frmCommment textarea{
  padding-top: 20px;
}
form#frmCommment > div:nth-child(7) > img#refreshCaptcha{
  margin-left: -5px;
}
@media(min-width:768px){
  form#frmCommment > div:nth-child(7){
    padding: 0;
  }
  form#frmCommment > div:nth-child(7) > img#showCaptcha{
    width: 70% !important;
  }
  form#frmCommment div.col-xs-6.col-sm-2.col-md-2.col-lg-2.form-group {
    width: 16.6666%;
  }
}
@media (max-width:767px){
  form#frmCommment > div:nth-child(7) > img#showCaptcha{
    width: 70% !important;
  }
}


/** articles **/
@media (max-width: 767px){
  div.content.sys-articles ul.lists.row.column-2 > li div.mdate{
    width: 50% !important;
    padding-right: 0;
  }
  div.content.sys-articles ul.lists.row.column-2 > li div.viewed{
    width: 50% !important;
    clear: none !important;
  }
  div.content.sys-articles ul.lists.row.column-2 > li {
    padding: 0;
  }
}
/** article **/
@media (max-width: 768px){
  div.content.sys-article.su-content-box.su-element-box div.social-share,
  div.content.sys-article.su-content-box.su-element-box div.viewed{
    width: 50% !important;
    clear: none;
  }
}
div.content.sys-article.su-content-box.su-element-box div.viewed{
  text-align: right;
}

/* confirm payment fb */
div.v2.content.sys-confirm-payment.su-content-box.su-element-box div.shopup-fb a.btn.btn-theme-all.btn-org.btn-2.btn-member-register{
  width: 100%;
  height: 35.6px;
  line-height: 1.3;
}

/* footer */
footer#sh_index_footer a,footer#sh_index_footer strong{
  color: #fff;
}
footer#sh_index_footer a:hover{
  font-weight: 600;
  color: #ffe026;
}
